.container {
	width: 50%;
	margin-top: 5%;
	padding: 2%;
	border-radius: 20px;
	box-shadow: 2px 2px 5px #333;
	background-color: #fff;
}
body{
	font-family:calibri;
	background-color: #f5822B;
}
.error-message {
	padding: 7px 10px;
	background: #fff1f2;
	border: #ffd5da 1px solid;
	color: #d6001c;
	border-radius: 4px;
}
.success-message {
	padding: 7px 10px;
	background: #cae0c4;
	border: #c3d0b5 1px solid;
	color: #027506;
	border-radius: 4px;
}